# Mac stuff
.DS_Store

# Leiningen stuff
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port

# JVM stuff
pom.xml
*jar
/lib/
/classes/
/out/
/target/

# Assets
/resources/public/js/compiled/**
/resources/public/css/fonts.css
/resources/public/css/style.css
.sass-cache

# Logs
figwheel_server.log

# Docs
doc/

# IntelliJ
.idea/
*.iml
